.gallery {
  padding-top: 80px;
  z-index: 2;
  // padding-right: 40px;
  background-color: var(--color-black);
  transition: background-color 0.4s ease;
  &__container {
  }
  &.touch {
    background-color: var(--color-white);
  }

  @media (max-width: 767px) {
    padding-top: 64px;
  }
  &__contents {
    padding-left: 127px;
    padding-right: 150px;
    width: 100%;
    @media (max-width: 767px) {
      padding: 0;
      display: flex;
      gap: 56px;
      flex-direction: column;
      height: 100%;
    }
  }
  &__title {
    padding-left: 40px;
    margin-bottom: 84px;
    @media (max-width: 767px) {
      padding-left: 24px;
      margin-bottom: 48px;
    }
  }
  &__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    @media (max-width: 767px) {
      height: 100%;
      min-height: auto;
    }

    h2 {
      margin-bottom: 32px;
      transition: all 0.4s ease;

      &.active {
        color: var(--color-primary);
      }
    }
  }
  &__imgs {
    width: calc(100% - 127px);
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: clip-path;
    &-mobile {
      width: 100%;
      aspect-ratio: 1;
      margin-bottom: 32px;
    }
  }
}

.left {
  width: 50%;
  @media (max-width: 767px) {
    width: calc(100% - 64px);
    padding-left: 24px;
  }
}

.right {
  height: 100vh;
  /* outline:1px solid purple; */
  width: 50%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  padding-bottom: 64px;
  position: relative;
  @media (max-width: 767px) {
    width: 64px;
    height: auto;
  }
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #f0f0f0f0;
    right: 50%;
    top: 0;
    transform: translateX(50%);
    @media (max-width: 767px) {
      right: 24px;
      transform: translateX(0%);
    }
  }
  .section-line {
    width: 32px;
    height: 32px;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -32px;
    z-index: 99;
    @media (max-width: 767px) {
      right: -8px;
      top: 16px;
    }
  }
}

.red {
  background: crimson;
}

.green {
  background: MediumSeaGreen;
}

.blue {
  background: dodgerblue;
}

.pink {
  background: deepPink;
}
