.gallery {
  padding-top: 80px;
  // padding-right: 40px;

  &__contents {
    padding-left: 127px;
    padding-right: 95px;
    width: 100%;
  }
  &__title {
    padding-left: 40px;
    margin-bottom: 84px;
  }
  &__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin-bottom: 32px;
      transition: all 0.4s ease;

      &.active {
        color: var(--color-primary);
      }
    }
  }
  &__imgs {
    width: calc(100% - 127px);
    height: 40vw;
    position: relative;
    overflow: hidden;
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: clip-path;
  }
}

.left {
  width: 50%;
}

.right {
  height: 100vh;
  /* outline:1px solid purple; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #f0f0f0f0;
    right: 0px;
    top: 0;
  }
  .section-line {
    // width: 2px;
    // height: 100%;
    // background-color: red;
    // position: absolute;
    // right: 0;
    // top: 0;
    width: 32px;
    height: 32px;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -32px;
    z-index: 99;
  }
}

.red {
  background: crimson;
}

.green {
  background: MediumSeaGreen;
}

.blue {
  background: dodgerblue;
}

.pink {
  background: deepPink;
}
