.a-line {
  position: relative;
  display: inline-block;
  &:hover {
    &::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: var(--color-white);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.magic-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 123;
  .cursor {
    width: 10px;
    height: 10px;
    background-color: var(--color-primary);
    border-radius: 50%;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &.show-text {
      width: 88px;
      height: 88px;
      background-color: var(--color-primary);

      .text {
        opacity: 1;
        transition-delay: 0.2s;
      }
    }

    span {
      font-family: var(--font-body);
    }
  }

  .text {
    min-width: max-content;
    opacity: 0;
  }
}
