.header {
  position: fixed;
  // display: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  &.scrolled {
    .logo-group {
      height: 32px;
    }
  }
  &__btn-language {
    position: relative;
    .language__body {
      position: absolute;
      bottom: -12px;
      left: 0;
      width: 100%;
      transform: translateY(100%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s ease;
      a {
        &:hover {
          color: var(--color-black);
        }
      }
      &.dropdown--active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__container {
    padding: 7px 60px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(30px);
    @media (max-width: 767px) {
      display: flex;
      justify-content: space-between;
      padding: 14px 24px;
    }
  }
  &__left {
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__menu--sub {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 380px;
    width: 100%;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    will-change: transform;
    transition: all 0.3s ease-in-out;
    @media (max-width: 991px) and (min-width: 768px) {
      display: none !important;
    }
    @media (max-width: 767px) {
      max-width: 100%;
      width: 100%;
    }
    &.show-menu {
      display: block !important;
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
  }
  .menu__sub--container {
    background-color: var(--color-black);
    width: 100%;
    height: 100%;
    padding: 24px 60px;
    display: flex;
    flex-direction: column;
    align-items: end;
    @media (max-width: 767px) {
      padding: 14px 24px;
    }
  }
  .menu__close {
    margin-bottom: 80px;
  }
  .menu__sub {
    ul {
      li {
        text-align: right;
        a {
          margin-bottom: 24px;
          display: inline-block;
          &:hover {
            color: var(--color-white);
          }
        }
      }
    }
  }
  .menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .menu__social {
    ul {
      li {
        text-align: right;
        a {
          margin-bottom: 20px;
          &:hover {
            color: var(--color-white);
          }
        }
      }
    }
  }
  .btnClose,
  .btnOpen {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(3);
    }
    &:hover {
      cursor: pointer;
    }
  }
  &.scrolled {
    .logo-group {
      // height: 24px;
      img {
        &:first-child {
          opacity: 0;
          visibility: hidden;
          transform: translate(-50%, -50%) scale(0);
        }
        &:last-child {
          opacity: 1;
          visibility: visible;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }
  .logo-group {
    display: block;
    position: relative;
    width: 156px;
    height: 50px;
    transition: height 0.3s ease;
    @media (max-width: 767px) {
      height: 20px;
      img:first-child {
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -50%) !important;
      }
      img {
        &:last-child {
          opacity: 1 !important;
          visibility: visible !important;
          transform: translate(0%, -50%) !important;
          left: 0 !important;
        }
      }
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transform-origin: top;
      &:last-child {
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.spacing {
  height: 200vh;
}
