.loading {
  background-color: var(--color-white);
  &-inner {
    position: relative;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 1px;
    //   height: 100%;
    //   background-color: red;
    //   left: 50%;
    //   transform: translateX(-50%);
    // }
  }
  &-image {
    transform: translateX(-70px);
    opacity: 0;
  }
  &-overlay {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--color-primary);
    top: 50%;
    border-radius: 50%;
    transform: translateY(17px);
    opacity: 0;
  }
}
