.loading {
  background-color: var(--color-white);
  z-index: 200;
  pointer-events: none;
  &-inner {
    position: relative;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 1px;
    //   height: 100%;
    //   background-color: white;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   z-index: 999;
    // }
    .dots {
      background-color: var(--color-primary);
      position: absolute;
      border-radius: 50%;
      z-index: 4;
      width: 12px;
      height: 12px;
      &.top-left {
        transform: scale(2);
        top: 105px;
        left: 100px;
        @media (max-width: 767px) {
          left: 50px;
        }
      }
      &.bottom-left {
        transform: scale(3);
        left: 100px;
        bottom: 60px;
        @media (max-width: 767px) {
          left: 50px;
        }
      }
      &.right-left {
        transform: scale(5);
        top: 60px;
        right: 100px;
        @media (max-width: 767px) {
          right: 50px;
        }
      }
      &.bottom-right {
        transform: scale(1.5);
        bottom: 170px;
        right: 113px;
        @media (max-width: 767px) {
          right: 50px;
        }
      }
    }
  }
  &-image {
    transform: translateX(-70px);
    opacity: 0;
    position: relative;
    z-index: 5;
    @media (max-width: 767px) {
      width: auto;
      height: 40px;
      transform: translate(-48px, 5px);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-overlay {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--color-primary);
    top: 50%;
    border-radius: 50%;
    transform: translateY(17px);
    opacity: 0;
  }
  &-overlay-white {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--color-white);
    top: 50%;
    border-radius: 50%;
    transform: translateY(17px);
    opacity: 0;
    z-index: 5;
  }
}
