section.section-members {
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: var(--color-black);

  &.ver-2 {
    .members-list .item-wrapper::after {
      background-color: var(--color-black);
    }
  }

  &::after {
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -30%);
    opacity: 0;
    transition: width 2s ease, height 2s ease, opacity 0.4s ease;
  }

  &.touch {
    &::after {
      opacity: 1;
      width: 400%;
      height: 200%;
    }
  }

  .members-wrapper {
    padding: 120px 40px;
    position: relative;
    z-index: 1;
  }

  .members-content {
    height: max-content;
    top: 120px;
    position: sticky;
    z-index: 3;

    &__title {
      max-width: 80%;
    }

    &__desc {
      margin-top: 32px;
      max-width: 80%;
    }
  }

  &.on-active {
    .members-filter {
      opacity: 1;
      visibility: visible;
    }
  }

  .members-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    gap: 16px;
    padding: 0 24px;
    border-radius: 50px;
    background-color: var(--color-black);
    width: max-content;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;

    .filter-item {
      text-transform: uppercase;
      cursor: pointer;
      padding: 12px 0;
      position: relative;

      span {
        font-weight: 600;
      }

      .sub-menu {
        max-width: 370px;
        width: max-content;
        height: max-content;
        position: absolute;
        bottom: calc(100% + 12px);
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color-black);
        padding: 12px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease;

        &.open {
          opacity: 1;
          visibility: visible;
        }

        li {
          padding: 12px 0;
          transition: color 0.4s ease;
          text-transform: uppercase;
          width: 100%;
          text-align: center;

          &:hover,
          &.active {
            color: var(--color-primary);
          }
        }
      }
    }
  }

  .members-ball {
    width: 400px;
    height: 400px;
    // background-color: var(--color-primary);
    // border-radius: 50%;
    position: absolute;
    left: 40px;
    top: 180px;
    &:hover {
      .ball-container span {
        border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
        animation: animate2 6s linear infinite;
      }
      .ball-container span:nth-child(2) {
        border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
        animation: animate 10s linear infinite;
      }
      .ball-container span:nth-child(3) {
        border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
        animation: animate2 4s linear infinite;
      }
      .ball-container::after {
        border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
        animation: animate2 6s linear infinite;
      }
    }
    .ball-container {
      width: 100%;
      position: relative;
      height: 100%;
      span {
        background-color: var(--color-primary);
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
        &:nth-child(2) {
          backdrop-filter: blur(30px);
          background-color: rgba(255, 255, 255, 0.2);
        }
        &:nth-child(3) {
          backdrop-filter: blur(30px);
          background-color: rgba(255, 255, 255, 0.2);
        }
      }

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        backdrop-filter: blur(30px);
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .members-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;

    ul {
      position: relative;

      &.open {
        z-index: 2;
      }
    }

    .item {
      position: relative;

      &.open {
        .item-content-show {
          z-index: 2;
          width: calc(200% + 32px);

          p {
            transform: translateY(0);
            opacity: 1;
            transition-duration: 0.5s;
            transition-delay: 0.6s;
          }
        }
      }

      &-wrapper {
        overflow: hidden;
        position: relative;
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 45.21%,
            rgba(0, 0, 0, 0.8) 90.31%
          );
          z-index: 1;
        }

        &::after {
          content: "";
          background-color: var(--color-primary);
          position: absolute;
          opacity: 0;
          z-index: 2;
          top: var(--y);
          left: var(--x);
          transform: translate(-50%, -50%);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          transition: width 0.6s, height 0.6s, opacity 0.6s;
        }

        &:hover {
          &::after {
            width: 300%;
            height: 300%;
            opacity: 1;
            transition: width 0.6s, height 0.6s;
          }
        }
      }

      &.opacity {
        pointer-events: none;
        opacity: 0.5;
      }

      &-img {
        width: 100%;
        aspect-ratio: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-content-show {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        padding: 32px;
        background-color: var(--color-black);
        transition: all 0.5s ease;

        p {
          transform: translateY(20px);
          opacity: 0;
        }

        .item-text {
          position: unset;
        }
      }

      &-title,
      &-text {
        position: absolute;
        z-index: 3;
        bottom: 32px;
        left: 32px;

        &.desc {
          margin-top: 8px;
        }
      }

      &-link {
        position: absolute;
        inset: 0;
        z-index: 5;
      }

      &:not(:first-child) {
        margin-top: 32px;
      }
    }

    &__right {
      margin-top: 40px;

      .item-content-show {
        left: unset;
        right: 0;
      }
    }
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
