section.section-services {
  // height: 100vh;
  background-color: var(--color-black);
  padding: 0 24px;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: absolute;
    background-color: #f0f0f0;
  }

  .services-wrapper {
    &__left {
      position: relative;
      z-index: 2;
      width: 50%;
      padding-top: 56px;

      .service-ball {
        width: 32px;
        height: 32px;
        background-color: var(--color-primary);
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        top: -32px;
        right: 0;
        transform: translateX(50%);
      }

      .num-counter {
        width: calc(40vw - 24px);
        position: absolute;
        right: 0;
        right: 0;
        color: var(--color-primary);
        font-weight: 500;
        font-size: 490px;
        font-family: var(--font-body);

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        line-height: 100%;

        & > span {
          z-index: 1;
          display: flex;
          flex-direction: column;
          height: 100%;
          transition: transform 2s ease;
          line-height: 1;
          transform: translateY(0);
          transition-delay: 0s;

          span {
            flex: 0 0 100%;
            height: 100%;
          }
        }
      }
    }

    &__right {
      width: 50%;
      padding-top: 56px;
      padding-bottom: 56px;

      .list-item {
        width: 60%;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .item {
          width: 100%;

          &-image {
            width: 100%;
            aspect-ratio: 438 / 246;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          &-title {
            margin-top: 24px;
          }

          &:not(:first-child) {
            margin-top: 115px;
          }
        }
      }
    }
  }
}
