section.section-projects {
  position: relative;

  .projects-wrapper {
    padding: 120px 40px;
    position: relative;
    z-index: 1;
  }

  .section-tag {
    height: max-content;
    top: 120px;
    position: sticky;
  }

  .projects-ball {
    width: 420px;
    height: 420px;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    left: 40px;
    top: 50vh;
    transform: translateY(-50%);

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 50%;
      top: 0;
      left: 0;
      backdrop-filter: blur(30px);
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .projects-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;

    .item {
      position: relative;
      overflow: hidden;

      &-img {
        width: 100%;
        aspect-ratio: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-title {
        position: absolute;
        z-index: 3;
        bottom: 32px;
        left: 32px;
      }

      &-link {
        position: absolute;
        inset: 0;
        z-index: 5;
      }

      &:not(:first-child) {
        margin-top: 32px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 45.21%,
          rgba(0, 0, 0, 0.8) 90.31%
        );
        z-index: 1;
      }

      &::after {
        content: "";
        background-color: var(--color-primary);
        position: absolute;
        opacity: 0;
        z-index: 2;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: width 0.6s, height 0.6s, opacity 0.6s;
      }

      &:hover {
        &::after {
          width: 300%;
          height: 300%;
          opacity: 1;
          transition: width 0.6s, height 0.6s;
        }
      }
    }

    &__right {
      margin-top: 40px;
    }
  }
}
