:root {
  --font-heading: "SVN-RB Vitruv Display", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --color-primary: #e82c2a;
  --color-gray: #f0ede4;
  --color-black: #000000;
  --color-black-opa: rgba(0, 0, 0, 0.5);
  --color-white: #ffffff;
}

.h2-font {
  font-family: var(--font-heading);
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .h2-font {
    font-size: 28px;
    line-height: 36px;
  }
}

.h3-font {
  font-family: var(--font-heading);
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
}

.b1-font {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.b2-font {
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.b2-bold-font {
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.tag-font {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}

.color-primary {
  color: var(--color-primary);
}

.color-gray {
  color: var(--color-gray);
}

.color-black {
  color: var(--color-black);
}

.color-black-opa {
  color: var(--color-black-opa);
}

.color-white {
  color: var(--color-white);
}

.spacing-xl {
  height: 80px;
}

.spacing-xxl {
  height: 120px;
}

.gap-small {
  gap: 8px;
}

.gap-big {
  gap: 40px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button:focus {
  outline: none;
}

a {
  display: inline-block;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.loading {
  background-color: var(--color-white);
}
.loading-inner {
  position: relative;
}
.loading-image {
  transform: translateX(-70px);
  opacity: 0;
}
.loading-overlay {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--color-primary);
  top: 50%;
  border-radius: 50%;
  transform: translateY(17px);
  opacity: 0;
}

.header {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--color-white);
}
.header__container {
  padding: 7px 60px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.header__menu--sub {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 380px;
}
.header .menu__sub--container {
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  padding: 24px 60px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.header .menu__close {
  margin-bottom: 80px;
}
.header .menu__sub ul li {
  text-align: right;
}
.header .menu__sub ul li a {
  margin-bottom: 24px;
  display: inline-block;
}
.header .menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.header .menu__social ul li {
  text-align: right;
}
.header .menu__social ul li a {
  margin-bottom: 20px;
}

section.section-quote {
  background-color: var(--color-black);
}
section.section-quote .quote-wrapper {
  padding: 150px 0;
  text-align: center;
}
section.section-quote .text {
  font-family: var(--font-heading);
  color: var(--color-white);
}
section.section-quote .text .line {
  background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.5) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}

footer .footer-wrapper {
  padding: 80px 40px 20px;
  background-image: url(../images/notutilize/bg-footer.png);
  background-size: cover;
  background-position: top;
}
footer .footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .footer-top__logo {
  width: 138px;
  height: auto;
}
footer .footer-top__menu {
  display: flex;
  gap: 115px;
  align-items: flex-start;
}
footer .footer-top__menu .menu {
  max-width: 400px;
}
footer .footer-top__menu .menu-item {
  display: flex;
  column-gap: 35px;
  align-items: flex-start;
}
footer .footer-top__menu .menu-item:not(:first-child) {
  margin-top: 16px;
}
footer .footer-top__menu .menu-item p {
  min-width: 80px;
}
footer .footer-top__menu .menu-item li {
  min-width: 120px;
}
footer .footer-top__menu .menu-item li:not(:first-child) {
  margin-top: 16px;
}
footer .footer-center {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 25px;
}
footer .footer-center img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
footer .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
footer .footer-bottom p {
  color: var(--color-white);
}

/*# sourceMappingURL=style.css.map */
