:root {
  --font-heading: "SVN-RB Vitruv Display", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --color-primary: #e82c2a;
  --color-gray: #f0ede4;
  --color-black: #000000;
  --color-black-opa: rgba(0, 0, 0, 0.5);
  --color-white: #ffffff;
  --color-text-white: #fffefe;
}

.h1-font {
  font-family: var(--font-heading);
  font-size: 58px;
  line-height: 72px;
  font-weight: 600;
}

.h2-font {
  font-family: var(--font-heading);
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .h2-font {
    font-size: 28px;
    line-height: 36px;
  }
}

.h3-font {
  font-family: var(--font-heading);
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
}

.b1-font {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.b2-font {
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.b2-bold-font {
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.tag-font {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}

.color-primary {
  color: var(--color-primary);
}

.color-gray {
  color: var(--color-gray);
}

.color-black {
  color: var(--color-black);
}

.color-black-opa {
  color: var(--color-black-opa);
}

.color-white {
  color: var(--color-white);
}

.color-text-white {
  color: var(--color-text-white);
}

.spacing-xl {
  height: 80px;
}

.spacing-xxl {
  height: 120px;
}

.gap-small {
  gap: 8px;
}

.gap-big {
  gap: 40px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button:focus {
  outline: none;
}

a {
  display: inline-block;
}
a:hover {
  color: var(--color-white);
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  position: relative;
}

.a-line {
  position: relative;
  display: inline-block;
}
.a-line:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.a-line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: var(--color-white);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.magic-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1061;
}
.magic-cursor .cursor {
  width: 10px;
  height: 10px;
  background-color: var(--color-primary);
  border-radius: 50%;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.magic-cursor .cursor.show-text {
  width: 88px;
  height: 88px;
  background-color: var(--color-primary);
}
.magic-cursor .cursor.show-text .text {
  opacity: 1;
  transition-delay: 0.2s;
}
.magic-cursor .cursor span {
  font-family: var(--font-body);
}
.magic-cursor .text {
  min-width: max-content;
  opacity: 0;
}

[data-cursor-text] {
  cursor: none;
}

.modal-backdrop.show {
  opacity: 1;
}

.fade {
  transition: opacity 0.3s linear;
}

.loading {
  background-color: var(--color-white);
  z-index: 200;
  pointer-events: none;
}
.loading-inner {
  position: relative;
}
.loading-inner .dots {
  background-color: var(--color-primary);
  position: absolute;
  border-radius: 50%;
  z-index: 4;
  width: 12px;
  height: 12px;
}
.loading-inner .dots.top-left {
  transform: scale(2);
  top: 105px;
  left: 100px;
}
.loading-inner .dots.bottom-left {
  transform: scale(3);
  left: 100px;
  bottom: 60px;
}
.loading-inner .dots.right-left {
  transform: scale(5);
  top: 60px;
  right: 100px;
}
.loading-inner .dots.bottom-right {
  transform: scale(1.5);
  bottom: 170px;
  right: 113px;
}
.loading-image {
  transform: translateX(-70px);
  opacity: 0;
  position: relative;
  z-index: 5;
}
.loading-overlay {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--color-primary);
  top: 50%;
  border-radius: 50%;
  transform: translateY(17px);
  opacity: 0;
}
.loading-overlay-white {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--color-white);
  top: 50%;
  border-radius: 50%;
  transform: translateY(17px);
  opacity: 0;
  z-index: 5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.header.scrolled .logo-group {
  height: 32px;
}
.header__btn-language {
  position: relative;
}
.header__btn-language .language__body {
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.header__btn-language .language__body a:hover {
  color: var(--color-black);
}
.header__btn-language .language__body.dropdown--active {
  opacity: 1;
  visibility: visible;
}
.header__container {
  padding: 7px 60px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(30px);
}
@media (max-width: 767px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    padding: 14px 24px;
  }
}
@media (max-width: 767px) {
  .header__left {
    display: none;
  }
}
.header__menu--sub {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 380px;
  width: 100%;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  will-change: transform;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .header__menu--sub {
    max-width: 100%;
    width: 100%;
  }
}
.header__menu--sub.show {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
.header .menu__sub--container {
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  padding: 24px 60px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media (max-width: 767px) {
  .header .menu__sub--container {
    padding: 14px 24px;
  }
}
.header .menu__close {
  margin-bottom: 80px;
}
.header .menu__sub ul li {
  text-align: right;
}
.header .menu__sub ul li a {
  margin-bottom: 24px;
  display: inline-block;
}
.header .menu__sub ul li a:hover {
  color: var(--color-white);
}
.header .menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.header .menu__social ul li {
  text-align: right;
}
.header .menu__social ul li a {
  margin-bottom: 20px;
}
.header .menu__social ul li a:hover {
  color: var(--color-white);
}
.header .btnClose,
.header .btnOpen {
  position: relative;
}
.header .btnClose::before,
.header .btnOpen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(3);
}
.header .btnClose:hover,
.header .btnOpen:hover {
  cursor: pointer;
}
.header.scrolled .logo-group img:first-child {
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0);
}
.header.scrolled .logo-group img:last-child {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.header .logo-group {
  display: block;
  position: relative;
  width: 156px;
  height: 50px;
  transition: height 0.3s ease;
}
@media (max-width: 767px) {
  .header .logo-group {
    height: 20px;
  }
  .header .logo-group img:first-child {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) !important;
  }
  .header .logo-group img:last-child {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translate(0%, -50%) !important;
    left: 0 !important;
  }
}
.header .logo-group img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: top;
}
.header .logo-group img:last-child {
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
}

.spacing {
  height: 200vh;
}

.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0 40px;
  position: relative;
}
.hero.without-home .hero__content--one {
  transform: translate(-50%, -50%) !important;
  opacity: 1 !important;
}
@media (max-width: 767px) {
  .hero {
    padding: 0 16px;
  }
}
.hero__content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.hero__content.change .hero__content--one {
  transform: translate(-50%, -50%);
  opacity: 0;
  transform-origin: center center;
}
.hero__content.change .hero__content--two {
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
}
.hero__content--one, .hero__content--two {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: all 0.5s ease;
}
.hero__content--two {
  opacity: 0;
  transform: translate(-50%, -50%);
  transform-origin: center;
  visibility: hidden;
}
.hero__ball {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 1000px;
  background-color: var(--color-primary);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.4s;
}
.hero__ball.change {
  box-shadow: 0px 0px 100px 100px var(--color-primary);
}

section.section-projects {
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: var(--color-black);
  transition: background-color 0.4s ease;
}
section.section-projects.ver-2 .projects-list .item::after {
  background-color: var(--color-black);
}
section.section-projects::after {
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%);
  opacity: 0;
  transition: width 2s ease, height 2s ease, opacity 0.4s ease;
}
section.section-projects.touch::after {
  opacity: 1;
  width: 400%;
  height: 200%;
}
section.section-projects .projects-wrapper {
  padding: 120px 40px;
  position: relative;
  z-index: 1;
}
section.section-projects .projects-content {
  height: max-content;
  top: 120px;
  position: sticky;
  z-index: 3;
}
section.section-projects .projects-content__title {
  max-width: 80%;
}
section.section-projects .projects-content__desc {
  margin-top: 32px;
  max-width: 80%;
}
section.section-projects.on-active .projects-filter {
  opacity: 1;
  visibility: visible;
}
section.section-projects .projects-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  gap: 16px;
  padding: 0 24px;
  border-radius: 50px;
  background-color: var(--color-black);
  width: max-content;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}
section.section-projects .projects-filter .filter-item {
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px 0;
  position: relative;
  line-height: 24px;
}
section.section-projects .projects-filter .filter-item span {
  font-weight: 600;
  margin-left: 3px;
}
section.section-projects .projects-filter .filter-item .sub-menu {
  max-width: 370px;
  width: max-content;
  height: max-content;
  position: absolute;
  bottom: calc(100% + 12px);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-black);
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
section.section-projects .projects-filter .filter-item .sub-menu.open {
  opacity: 1;
  visibility: visible;
}
section.section-projects .projects-filter .filter-item .sub-menu li {
  padding: 12px 0;
  transition: color 0.4s ease;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}
section.section-projects .projects-filter .filter-item .sub-menu li:hover, section.section-projects .projects-filter .filter-item .sub-menu li.active {
  color: var(--color-primary);
}
section.section-projects .projects-ball {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 40px;
  top: 180px;
}
section.section-projects .projects-ball canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 20px;
}
section.section-projects .projects-ball .ball-container {
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
}
section.section-projects .projects-ball .ball-container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.2);
  animation: blob 30s ease-in-out infinite alternate both;
}
section.section-projects .projects-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
}
section.section-projects .projects-list ul.pending .item {
  transform: translateY(30px);
  opacity: 0;
}
section.section-projects .projects-list .item {
  position: relative;
  overflow: hidden;
}
section.section-projects .projects-list .item.opacity {
  pointer-events: none;
  opacity: 0.5 !important;
}
section.section-projects .projects-list .item-img {
  width: 100%;
  aspect-ratio: 1;
}
section.section-projects .projects-list .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.section-projects .projects-list .item-content-show {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(200% + 32px);
  height: 100%;
  z-index: 1;
  padding: 32px;
}
section.section-projects .projects-list .item-title, section.section-projects .projects-list .item-text {
  position: absolute;
  z-index: 3;
  bottom: 32px;
  left: 32px;
}
section.section-projects .projects-list .item-title.desc, section.section-projects .projects-list .item-text.desc {
  margin-top: 8px;
}
section.section-projects .projects-list .item-link {
  position: absolute;
  inset: 0;
  z-index: 5;
}
section.section-projects .projects-list .item:not(:first-child) {
  margin-top: 32px;
}
section.section-projects .projects-list .item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.21%, rgba(0, 0, 0, 0.8) 90.31%);
  z-index: 1;
}
section.section-projects .projects-list .item::after {
  content: "";
  background-color: var(--color-primary);
  position: absolute;
  opacity: 0;
  z-index: 2;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: width 0.6s, height 0.6s, opacity 0.6s;
}
section.section-projects .projects-list .item:hover::after {
  width: 300%;
  height: 300%;
  opacity: 1;
  transition: width 0.6s, height 0.6s;
}
section.section-projects .projects-list__right {
  margin-top: 40px;
}

@keyframes blob {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
section.section-members {
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: var(--color-black);
}
section.section-members.ver-2 .members-list .item-wrapper::after {
  background-color: var(--color-black);
}
section.section-members::after {
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%);
  opacity: 0;
  transition: width 2s ease, height 2s ease, opacity 0.4s ease;
}
section.section-members.touch::after {
  opacity: 1;
  width: 400%;
  height: 200%;
}
section.section-members .members-wrapper {
  padding: 120px 40px;
  position: relative;
  z-index: 1;
}
section.section-members .members-content {
  height: max-content;
  top: 120px;
  position: sticky;
  z-index: 3;
}
section.section-members .members-content__title {
  max-width: 80%;
}
section.section-members .members-content__desc {
  margin-top: 32px;
  max-width: 80%;
}
section.section-members.on-active .members-filter {
  opacity: 1;
  visibility: visible;
}
section.section-members .members-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  gap: 16px;
  padding: 0 24px;
  border-radius: 50px;
  background-color: var(--color-black);
  width: max-content;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}
section.section-members .members-filter .filter-item {
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px 0;
  position: relative;
}
section.section-members .members-filter .filter-item span {
  font-weight: 600;
}
section.section-members .members-filter .filter-item .sub-menu {
  max-width: 370px;
  width: max-content;
  height: max-content;
  position: absolute;
  bottom: calc(100% + 12px);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-black);
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
section.section-members .members-filter .filter-item .sub-menu.open {
  opacity: 1;
  visibility: visible;
}
section.section-members .members-filter .filter-item .sub-menu li {
  padding: 12px 0;
  transition: color 0.4s ease;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
section.section-members .members-filter .filter-item .sub-menu li:hover, section.section-members .members-filter .filter-item .sub-menu li.active {
  color: var(--color-primary);
}
section.section-members .members-ball {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 40px;
  top: 180px;
}
section.section-members .members-ball:hover .ball-container span {
  border-radius: 31% 45% 74% 35%/38% 56% 51% 87%;
  animation: animate2 6s linear infinite;
}
section.section-members .members-ball:hover .ball-container span:nth-child(2) {
  border-radius: 38% 62% 63% 37%/41% 44% 56% 59%;
  animation: animate 10s linear infinite;
}
section.section-members .members-ball:hover .ball-container span:nth-child(3) {
  border-radius: 32% 58% 69% 43%/48% 32% 59% 55%;
  animation: animate2 4s linear infinite;
}
section.section-members .members-ball:hover .ball-container::after {
  border-radius: 31% 45% 74% 35%/38% 56% 51% 87%;
  animation: animate2 6s linear infinite;
}
section.section-members .members-ball .ball-container {
  width: 100%;
  position: relative;
  height: 100%;
}
section.section-members .members-ball .ball-container span {
  background-color: var(--color-primary);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
}
section.section-members .members-ball .ball-container span:nth-child(2) {
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.2);
}
section.section-members .members-ball .ball-container span:nth-child(3) {
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.2);
}
section.section-members .members-ball .ball-container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.2);
}
section.section-members .members-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
}
section.section-members .members-list ul {
  position: relative;
}
section.section-members .members-list ul.open {
  z-index: 2;
}
section.section-members .members-list .item {
  position: relative;
}
section.section-members .members-list .item.open .item-content-show {
  z-index: 2;
  width: calc(200% + 32px);
}
section.section-members .members-list .item.open .item-content-show p {
  transform: translateY(0);
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 0.6s;
}
section.section-members .members-list .item-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
section.section-members .members-list .item-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.21%, rgba(0, 0, 0, 0.8) 90.31%);
  z-index: 1;
}
section.section-members .members-list .item-wrapper::after {
  content: "";
  background-color: var(--color-primary);
  position: absolute;
  opacity: 0;
  z-index: 2;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: width 0.6s, height 0.6s, opacity 0.6s;
}
section.section-members .members-list .item-wrapper:hover::after {
  width: 300%;
  height: 300%;
  opacity: 1;
  transition: width 0.6s, height 0.6s;
}
section.section-members .members-list .item.opacity {
  pointer-events: none;
  opacity: 0.5;
}
section.section-members .members-list .item-img {
  width: 100%;
  aspect-ratio: 1;
}
section.section-members .members-list .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.section-members .members-list .item-content-show {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  padding: 32px;
  background-color: var(--color-black);
  transition: all 0.5s ease;
}
section.section-members .members-list .item-content-show p {
  transform: translateY(20px);
  opacity: 0;
}
section.section-members .members-list .item-content-show .item-text {
  position: unset;
}
section.section-members .members-list .item-title, section.section-members .members-list .item-text {
  position: absolute;
  z-index: 3;
  bottom: 32px;
  left: 32px;
}
section.section-members .members-list .item-title.desc, section.section-members .members-list .item-text.desc {
  margin-top: 8px;
}
section.section-members .members-list .item-link {
  position: absolute;
  inset: 0;
  z-index: 5;
}
section.section-members .members-list .item:not(:first-child) {
  margin-top: 32px;
}
section.section-members .members-list__right {
  margin-top: 40px;
}
section.section-members .members-list__right .item-content-show {
  left: unset;
  right: 0;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.section-map {
  position: relative;
}
.section-map__container {
  width: 100%;
  aspect-ratio: 1440/810;
}
@media (max-width: 767px) {
  .section-map__container {
    height: auto;
  }
}
.section-map__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery {
  padding-top: 80px;
  z-index: 2;
  background-color: var(--color-black);
  transition: background-color 0.4s ease;
}
.gallery.touch {
  background-color: var(--color-white);
}
@media (max-width: 767px) {
  .gallery {
    padding-top: 64px;
  }
}
.gallery__contents {
  padding-left: 127px;
  padding-right: 150px;
  width: 100%;
}
@media (max-width: 767px) {
  .gallery__contents {
    padding: 0;
  }
}
.gallery__title {
  padding-left: 40px;
  margin-bottom: 84px;
}
@media (max-width: 767px) {
  .gallery__title {
    padding-left: 24px;
    margin-bottom: 48px;
  }
}
.gallery__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.gallery__content h2 {
  margin-bottom: 32px;
  transition: all 0.4s ease;
}
.gallery__content h2.active {
  color: var(--color-primary);
}
.gallery__imgs {
  width: calc(100% - 127px);
  aspect-ratio: 1;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .gallery__imgs {
    display: none;
  }
}
.gallery__img {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: clip-path;
}

.left {
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    width: calc(100% - 64px);
  }
}

.right {
  height: 100vh;
  /* outline:1px solid purple; */
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;
  position: relative;
}
@media (max-width: 767px) {
  .right {
    width: 0;
  }
}
.right::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9411764706);
  right: 0px;
  top: 0;
  transform: translateX(50%);
}
.right .section-line {
  width: 32px;
  height: 32px;
  background-color: var(--color-primary);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -32px;
  z-index: 99;
}

.red {
  background: crimson;
}

.green {
  background: MediumSeaGreen;
}

.blue {
  background: dodgerblue;
}

.pink {
  background: deepPink;
}

section.section-quote {
  background-color: var(--color-black);
  position: relative;
}
section.section-quote .quote-wrapper {
  padding: 150px 0;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
section.section-quote .text {
  font-family: var(--font-heading);
  color: var(--color-white);
}
section.section-quote .text .line {
  background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.5) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}

section.section-services {
  background-color: var(--volor-white);
  padding: 0 24px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.4s ease;
}
section.section-services.touch {
  background-color: var(--color-black);
}
section.section-services::after {
  content: "";
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  position: absolute;
  background-color: #f0f0f0;
}
section.section-services .services-wrapper__left {
  position: relative;
  z-index: 2;
  width: 50%;
  padding-top: 56px;
}
section.section-services .services-wrapper__left .service-ball {
  width: 32px;
  height: 32px;
  background-color: var(--color-primary);
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: -32px;
  right: 0;
  transform: translateX(50%);
}
section.section-services .services-wrapper__left .num-counter {
  width: calc(40vw - 24px);
  position: absolute;
  right: 0;
  right: 0;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 490px;
  font-family: var(--font-body);
}
section.section-services .services-wrapper__left .num-counter .number {
  height: 490px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
section.section-services .services-wrapper__left .num-counter .number > span {
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 2s ease;
  transform: translateY(0);
  line-height: 1;
}
section.section-services .services-wrapper__left .num-counter .number > span span {
  flex: 0 0 100%;
  height: 100%;
}
section.section-services .services-wrapper__left .num-counter .number:nth-child(1) > span {
  transition-delay: 0s;
}
section.section-services .services-wrapper__right {
  width: 50%;
  padding-top: 120px;
  padding-bottom: 120px;
}
section.section-services .services-wrapper__right .list-item {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.section-services .services-wrapper__right .list-item .item {
  width: 100%;
}
section.section-services .services-wrapper__right .list-item .item-image {
  width: 100%;
  aspect-ratio: 438/246;
  overflow: hidden;
  position: relative;
}
section.section-services .services-wrapper__right .list-item .item-image::after {
  content: "";
  background-color: var(--color-primary);
  position: absolute;
  opacity: 0;
  z-index: 2;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: width 0.6s, height 0.6s, opacity 0.6s;
}
section.section-services .services-wrapper__right .list-item .item-image:hover::after {
  width: 300%;
  height: 400%;
  opacity: 1;
  transition: width 0.6s, height 0.6s;
}
section.section-services .services-wrapper__right .list-item .item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.section-services .services-wrapper__right .list-item .item-title {
  margin-top: 24px;
}
section.section-services .services-wrapper__right .list-item .item:not(:first-child) {
  margin-top: 120px;
}

.services-modal .modal-content {
  padding: 48px;
  padding-right: 16px;
  border-radius: unset;
  border: none;
  background-image: url("../images/utilize/bg-modal.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.services-modal .modal-content .content {
  display: flex;
  gap: 48px;
  margin-top: 48px;
  justify-content: top;
  justify-content: space-between;
  max-height: 375px;
  overflow-y: scroll;
  /* Handle */
}
.services-modal .modal-content .content .content-item {
  width: calc(50% - 24px);
}
.services-modal .modal-content .content::-webkit-scrollbar {
  width: 6px;
}
.services-modal .modal-content .content::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: unset;
}
.services-modal .modal-content ul {
  margin-top: 16px;
}
.services-modal .modal-content ul li:not(:first-child) {
  margin-top: 8px;
}
@media (min-width: 991px) {
  .services-modal .modal-dialog {
    max-width: 890px;
  }
}

.contact-form {
  background-image: url("../images/utilize/bg_contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 32px;
}
@media (max-width: 767px) {
  .contact-form {
    padding: 64px 24px 48px;
  }
}
.contact-form__container h3 {
  margin-bottom: 56px;
}
.contact-form__form--input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .contact-form__form--input {
    grid-template-columns: 1fr;
  }
}
.contact-form__form .input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contact-form__form .input-group input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.contact-form__form .input-group textarea {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  resize: none;
}
.contact-form__submit {
  margin-top: 24px;
  display: flex;
  justify-content: end;
}
.contact-form__submit button {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
.contact-form__submit button:hover {
  background-color: var(--color-black);
}
.contact-form__submit button path {
  transition: all 0.4s ease-in-out;
}

.partners__container {
  background-color: var(--color-black);
  padding: 80px 0;
}
@media (max-width: 767px) {
  .partners__container {
    padding: 48px 0;
  }
}
.partners__container h3 {
  padding-left: 40px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .partners__container h3 {
    padding-left: 24px;
  }
}
.partners .swiper-wrapper {
  transition-timing-function: linear !important;
}
.partners .swiper-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: relative;
}
footer .footer-wrapper {
  padding: 80px 40px 20px;
  background-image: url(../images/notutilize/bg-footer.png);
  background-size: cover;
  background-position: top;
}
@media (max-width: 991px) {
  footer .footer-wrapper {
    padding: 64px 24px 24px;
  }
}
footer .footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 991px) {
  footer .footer-top {
    flex-direction: column;
  }
}
footer .footer-top__logo {
  width: 138px;
  height: auto;
}
@media (max-width: 991px) {
  footer .footer-top__logo {
    margin-bottom: 64px;
  }
}
footer .footer-top__menu {
  display: flex;
  gap: 115px;
  align-items: flex-start;
}
@media (max-width: 991px) {
  footer .footer-top__menu {
    flex-direction: column;
    gap: 48px 0;
  }
}
footer .footer-top__menu .menu {
  max-width: 400px;
}
@media (max-width: 991px) {
  footer .footer-top__menu .menu {
    max-width: 100%;
    width: 100%;
  }
  footer .footer-top__menu .menu:last-child {
    display: grid;
    grid-template-areas: "a b" "c c";
    gap: 32px;
  }
  footer .footer-top__menu .menu:last-child .menu-item:first-child {
    grid-area: a;
  }
  footer .footer-top__menu .menu:last-child .menu-item:first-child ul {
    display: flex;
  }
  footer .footer-top__menu .menu:last-child .menu-item:nth-child(2) {
    grid-area: b;
    margin: 0;
  }
  footer .footer-top__menu .menu:last-child .menu-item:nth-child(2) ul {
    display: flex;
  }
  footer .footer-top__menu .menu:last-child .menu-item:nth-child(3) {
    grid-area: c;
  }
  footer .footer-top__menu .menu:last-child .menu-item:nth-child(3) ul {
    grid-template-columns: 1fr;
  }
}
footer .footer-top__menu .menu-item {
  display: flex;
  column-gap: 35px;
  align-items: flex-start;
}
footer .footer-top__menu .menu-item:not(:first-child) {
  margin-top: 16px;
}
@media (max-width: 991px) {
  footer .footer-top__menu .menu-item {
    flex-direction: column;
    margin: 0;
  }
}
footer .footer-top__menu .menu-item p {
  min-width: 80px;
}
@media (max-width: 991px) {
  footer .footer-top__menu .menu-item p {
    margin-bottom: 24px;
  }
}
@media (max-width: 991px) {
  footer .footer-top__menu .menu-item ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 40px;
    width: 100%;
  }
}
footer .footer-top__menu .menu-item li {
  min-width: 120px;
}
@media (max-width: 991px) {
  footer .footer-top__menu .menu-item li {
    min-width: auto;
  }
  footer .footer-top__menu .menu-item li a {
    white-space: nowrap;
  }
}
footer .footer-top__menu .menu-item li:not(:first-child) {
  margin-top: 16px;
}
@media (max-width: 991px) {
  footer .footer-top__menu .menu-item li:not(:first-child) {
    margin: 0;
  }
}
footer .footer-center {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  footer .footer-center {
    margin-top: 24px;
  }
}
footer .footer-center img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
footer .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
@media (max-width: 991px) {
  footer .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}
footer .footer-bottom p {
  color: var(--color-white);
}

/*# sourceMappingURL=style.css.map */
